/* You can add global styles to this file, and also import other style files */
@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';
@use '../public/assets/scss/figtree.scss';

body {
  margin: 0;
  color: white;
  font-family: 'Figtree', sans-serif;
}
